{%load static%}
<!DOCTYPE html>
<html　lang=“en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}">
    
    <link rel="stylesheet" href="{% static 'homepage/script.js' %}">


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="My name is Jianlin Chen, a computer science graduate from NC State University.
    The research fields I interested in are machine learning and AI. During my free time, I like hiking and camping.
    I also love making video games,
    web app, and mobile app along or collaborate with others.">
    <meta name="keyword" content="Jianlin chen, Protfolio, JianlinChen, jchen42">
    <meta name="author" content="Jianlin Chen">
    <title> Jianlin Chen's Protfolio </title>

</head>

<body>
    <section class="container">

        <div class="row justify-content-center">

            <div class="col-12" id="welcome">
                <h1> Welcome to Jianlin Chen's Protfolio</h1>
            </div>
        </div>


        <section id="introduction" class="row justify-content-center">
            <div class="col-12 justify-content-md-center">
                <p>
                    My name is Jianlin Chen, a computer science graduate from NC State University.
                    The research fields I interested in are machine learning and AI.
                    I also love making video games,
                    web app, and mobile app along or collaborate with others.
                </p>
            </div>
        </section>

        <section id="projects" class="row justify-content-center">

            <div class="col-12">
                <p id="header">My projects</P>
            </div>

        </section>


        <section class="row">

            <div id="menu" class="col-12 text-center d-none d-sm-block d-md-none. ">
                <div>
                    {% for label in labels%}
                        <button class='btn btn-info btn-md'> {{ label }} </button>
                    {% endfor %}
                    
                </div>
            </div>
        </section>

        <section class="row">
            <div class="w-100"></div>
            <!-- <div class="col-12"> -->
            <div>
                <ul class="list-group" id="projectlist">
                    {% for project in projects%}
                    <li class="list-group-item">
                        <div class = "category">
                            <p hidden> {{ project.type }} <p>
                        </div>
                        <div class="row">
                            <div class=" col-md-7 col-sm-7 col-12">
                                <img src="{{ project.image.url}}" class="image-responsive" alt="{{project.title}}">
                            </div>

                            <div class=" col-md-5 col-sm-5 col-12">
                                <div class="row">
                                    <div class="col-11 col-md-11 col-sm-11">
                                        <p id="title">  {{ project.title }}</p>
                                        <p id="description">  {{ project.description}} </P>
                                    </div>
                                    <div class="col-12 col-md-12 col-sm-12 offset-3 offset-sm-0 offset-md-0">
                                        <a class="btn btn-success" href={{project.link}} target=_blank role="button">Click to
                                            Checkout!</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>


            <!-- </div> -->
        </section>
       

        <footer id="contact_info" class="row">
            <div class="col-6">

                <p>Get in touch</p>
            </div>

            <div class="col-9">
                Email: <a href="mailto:jchen42@ncsu.edu">jchen42@ncsu.edu</a>

            </div>



        </footer>


    </section>
    </section>
    </div>


</body>

</html>