/* .portfolio-header {
    text-align: center;
    font-size: 2em;
} */

.dark_mode {
  font-family:  Arial, sans-serif;
  font-size: large;
  color:white;
  background-color: rgb(4, 1, 22);
}

.light_mode{
  font-family:  Arial, sans-serif;
  font-size: large;
  color:black;
  background-color: white;

}
.title-containner {
  margin-top: 100px;
  /* background-color: red; */
}

.introduction-containner {
  margin-top: 100px;
  /* background-color: darkorange; */
}
.dark-mode-btn{
  /* margin-left:auto; */
  /* margin-right:5px */
}
.nav-btn-container{
  /* width: 100%; */
}
.project-containner {
  margin-top: 100px;
  /* background-color: darkcyan; */
  
}
.project-image{
  /* background-color: darkred; */
}
.project-image > img{
  max-width: 100%;
  object-fit: scale-down;
  /* border-radius: 1vmin; */
  
}
.project-list{
  border: 2px solid darkslategray;
  padding-bottom: 1%;
  /* border-radius: 10px; */
  /* background-color: aqua; */
}
.project-description{
  /* background: darkgreen; */
  max-width: 100%;
  overflow:auto;
}
.description-content{
  /* background: darkorange; */
}
.description-title {
  font-weight: bolder;
  font-size: 1.5em;
}
.contact_info {
  margin-top: 100px;
  /* background-color: darkcyan; */
}
.contact_info > a:hover {
  text-decoration: underline;
}

