{%load static%}
<!DOCTYPE html>
<html　lang ="en">
  <head>
    <!-- animation css -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Lato"
      rel="stylesheet"
    />
    <link
      rel=" stylesheet "
      type=" text/css "
      href=" {% static 'homepage/style.css' %} "
    />
   
    <meta
      name=" viewport "
      content=" width=device-width, initial-scale=1, shrink-to-fit=no "
    />
    <meta
      name=" description "
      content=" My name is Jianlin Chen, a computer science graduate from NC State University. The research fields I interested in are machine learning and AI. During my free time, I like hiking and camping. I also love making
    video games, web app, and mobile app along or collaborate with others. "
    />
    <meta
      name=" keyword "
      content=" Jianlin chen, Protfolio, JianlinChen, jchen42 "
    />
    <meta name=" author " content=" Jianlin Chen " />

    <title>Jianlin Chen's Protfolio</title>
  </head>

  <body class="dark_mode">
    <nav
      class="navbar navbar-expand-lg sticky-top bg-dark"
      data-bs-theme="dark"
    >
      <!-- <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top"> -->
      <div class="container-fluid">
        <a class="navbar-brand" href="#">🔖Portofilio</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav nav-btn-container">
            <li class="nav-item">
              <a class="nav-link" aria-current=" page " href=" # " value="all">
                All</a
              >
            </li>
            {% for label in labels%}
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current=" page "
                href=" # "
                value="{{label.1}}"
              >
                {{ label.0 }}</a
              >
            </li>
            {% endfor %}
            <li class="nav-item dark-mode-btn-container">
              <input
                type="checkbox"
                class="btn-check"
                id="mode-value"
                autocomplete="off"
                value="dark"
              />
              <label
                class="btn btn-outline-primary dark-mode-btn"
                for="btncheck1"
                >Open Light</label
              >
            </li>
            <li class="nav-item admin-btn">
              <a
                class="btn btn-primary btn-small navbar-btn"
                href=" {% url 'admin:index' %} "
                >Admin</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-lg">
      <!-- webpage title -->
      <div class="row">
        <div class="col-12 title-containner text-center">
          <h1>Jianlin Chen's Protfolio</h1>
        </div>
      </div>

      <!-- self introduction -->
      <div class="introduction-containner row">
        <div class="col-12 justify-content-md-center">
          <p>
            My name is Jianlin Chen, a computer science graduate from NC State
            University. The research fields I interested in are machine learning
            and AI. I also love making video games, web app, and mobile app
            along or collaborate with others.
          </p>
        </div>
      </div>
      <!-- view project -->
      <div class="project-containner row gy-3">
        <div class="col-12 project-containner-header text-center">
          <h3>My Projects</h3>
        </div>
        {% for project in project_json %}
        <div
          class="col-12 projects-container-content {% for type in project.type %} {{ type }}{% endfor %}"
        >
          <div class="row">
            <div class="col-12">
              <!-- {% comment %} To display projects {% endcomment %} -->
              <div class="row project-list">
                <div class="col-12 col-lg-8 project-image">
                  <img
                    class="mx-auto d-block img-fluid"
                    src="{{project.image}}"
                  />
                </div>
                <div class="project-description col-12 col-lg-4">
                  <div class="row">
                    <div class="col-12 description-title text-center">
                      {{project.title}}
                    </div>
                    <div class="col-12 description-content">
                      {{project.description | safe}}
                    </div>
                  </div>
                  <div class="col-12 project-button">
                    {% if project.link %}
                    <a
                      class="btn btn-primary btn-lg"
                      href="{{project.link}}}"
                      role="button"
                      target="_blank"
                    >
                      🚀Demo
                    </a>
                    {% endif %} {% if project.github_link%}
                    <a
                      class="btn btn-info btn-lg"
                      target="_blank"
                      href="{{project.github_link}}"
                      role="button"
                    >
                      💻Github
                    </a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        <footer class="contact_info row text-center">
          <div class="col-12">
            <a href="https://github.com/Lamonkey">Github</a>
          </div>
          <div class="col-12">
            Email: <a href=" mailto:jchen42@ncsu.edu ">jchen42@ncsu.edu</a>
          </div>
        </footer>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script src=" {% static 'homepage/script.js' %} "></script>
  </body>
</html　lang>
