h1 {
    text-align: center;
    font-size: 2em;
}
body{
    font-size: large;
}
#header{
    font-size: xx-large;
}

#projects_list {
    margin-top: 25px;
}

.spacing {
    margin-top: 100px;
}

#welcome {
    @extend .spacing;
}

#introduction {
    @extend .spacing;
}

#projects {
    @extend .spacing;
}

#contact_info {
    @extend .spacing;
    
}
#contact_info{
    font-weight:bold;
    font-size: 1em;
    
 
}

#contact_info a {
    background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
    background-position: 0 100%;
   background-repeat: repeat-x;
    background-size: 4px 4px;
    color: #000;
    text-decoration: none;
  transition: background-size 0.2s;
    
}


:root {
    --mainColor: #4e5152;
  }
  
#contact_info a:hover {
    background-size: 4px 50px;
}
#header {
    text-align: center;
}

.btn {
    display: inline-block;
    vertical-align: auto;
    transition-duration: 0.45s;
    border: none;
    color: white;
    cursor: pointer;
}
.btn:hover {
    background-color: #436ddf;
    color: white;
}
.list-group-item {
    padding-left: 100em;
    padding-left: 0em;
}
%centerfont{
    text-align: center;
}

@media (min-width: 300px) {
    //when screen is 500px, background is red
    .image-responsive {
        display: bock;
        max-width: 100%;
        height: auto;
    }
    #description{
        margin-left:1em;
    }

    #title{
        font-weight:bold;
        text-align:center;
    }

    #btn btn-success{
        text-align: center;
    }

}

@media (min-width: 500px) {
    //when screen is 500px, background is red
    .image-responsive {
        display: bock;
        max-width: 100%;
        height: auto;
    }
    #description{
        margin-left:0em;
    }

    #title{
        font-weight:bold;
        text-align:left;
    }
}

@media (min-width: 768px) {
    //when screen is 500px, background is red
    .image-responsive {
        display: bock;
        max-width: 100%;
        height: auto;
    }
    #description{
        margin-left:0em;
    }

    #title{
        font-weight:bold;
        text-align:left;
    }
}
